@tailwind base

@tailwind components

@tailwind utilities

$main-blue: #17617A
$main-white: #E7E8EA

body,html
  background-color: #fafafaf3

*
  font-family: 'El Messiri', sans-serif

// page loader animation
.preload
  width: 100%
  height: 100%
  top: 0
  left: 0
  position: fixed
  background-color: $main-white
  display: flex
  justify-content: center
  align-items: center
  z-index: 999999

.logo
  z-index: 999999

.overlay
  background-color: $main-blue
  width: 100%
  height: 100%
  position: fixed
  transform: translateX(-100%)

// Add animation in elements appearence
[data-scroll]
  transition: all 1s

[data-scroll="in"]
  opacity: 1
  transform: translateY(0px)

[data-scroll="out"] 
  opacity: 0
  transform: translateY(200px)


// Navbar 
nav .links ul li a
  transition: all 0.2s ease
  &:hover
    color: $main-blue !important
@media screen and ( max-width: 640px )
  nav .links 
    transform: translateX(-640px)
    ul li
      padding: 20px 0

// general button styles
a.ourbtn,button
  background-color: darken($main-blue, 5)
  transition: all 0.4s ease
  &:hover
    background-color: lighten($main-blue, 5)
  &:focus, &:active
    outline: none

textarea
  resize: none

nav .links ul li a.active
  color: lighten($main-blue, 10)

.bug
  max-height: 96px
// header
h2.header
  position: relative
  border-bottom: 2px solid #000
  display: inline-block

// global classes
.blue-text
  color: $main-blue
.blue
  background-color: $main-blue
.white
  background-color: $main-white
.hint
  color: $main-blue
  display: none 
  // =========================  CONTROL HINT/VALIDATION HERE  =======================================================

.pagenation
  li
    transition: all ease 0.2s
    cursor: pointer
    
  li.active,li:hover
    background-color: $main-blue
    color: white

  li.disabled,li.disabled a
      background-color: $main-white
      color: gray
      cursor: not-allowed

.links
    background-color: transparent
    ul li a 
        color: black
nav
  background: $main-white

.banner
    background-image: url('../img/banner.png')
    height: 100vh
    position: relative
    &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        background-color: rgba(0,0,0,0.6)
    .scroll
        animation-name: scroll
        animation-duration: 0.8s
        animation-iteration-count: infinite
        animation-timing-function: ease-out

        position: absolute
        bottom: 50px
        left: 50% 

.book , .news
    transition: all 0.4s ease-out
    &:hover
        -webkit-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.75)
        -moz-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.75)
        box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.75)
        transform: translateY(-10px)
    footer
        background-color: $main-blue

.news footer
    background-color: transparent
@keyframes scroll
    0%
        transform: translateY(-10px)
    100%
        transform: translateY(10px)

hr
  background: #fff !important
  border: 2px solid white !important
  border-style: inset !important
  border-width: 1px !important
footer
  padding: 0 0 10px 0
  .sections ul li a
    transition: all 0.2s ease
    &:hover
      border-bottom: 1px solid #fff