<!DOCTYPE html>
html(lang="ar" dir="rtl")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        //font awesome
        script(src='https://kit.fontawesome.com/7ccf14bcd9.js')
        // Tailwind
        link(href='./css/tailwind.css' rel='stylesheet')
        // google fonts
        link(href='https://fonts.googleapis.com/css?family=Almarai:400,700,800|El+Messiri:400,500,600,700|Markazi+Text:400,500,600,700|Reem+Kufi&display=swap&subset=arabic' rel='stylesheet')
        // Our css
        link(rel='stylesheet' href='./css/home.css')
        link(rel='shortcut icon' href='./img/logo.jpg' type='image/x-icon')
        title دار الفرات | الإصدارات
    body
        include ../components/loading
        
        include ../components/Navbar
        +navbar(['','active','','',''])

        .container.mx-auto.my-32.overflow-x-hidden
                .flex.flex-wrap.my-16
                    .flex.flex-wrap.justify-center.w-full.mb-2.px-2
                        include ../utils/header
                        +header('قسم ما')
                    .-mx-2
                        .flex.flex-wrap.px-2
                            - for(let i = 0; i < 12 ;i++){
                                include ../utils/card
                                +card("w-full px-2 my-4 sm:w-1/2 lg:w-1/4")
                            - }

                    // This is an example component
                    div.mx-auto.mt-12
                        ul.pagenation.flex.pl-0.list-none.rounded.my-2
                            li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.border-l-0.ml-0.rounded-r(class='disabled')
                                a.page-link(href='#') السابق
                            li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.border-l-0(class='active')
                                a.page-link(href='#') 1
                            li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.border-l-0(class='')
                                a.page-link(href='#') 2
                            li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.border-l-0(class='')
                                a.page-link(href='#') 3
                            li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.rounded-l(class='')
                                a.page-link(href='#') التالي
        include ../components/Footer
        
        script(src='./js/move.js')
        script(src='./js/scroll-out.js')
        script(src='./js/app.js')
