.leatstBooks.my-32.text-center(data-scroll='')
    include ../utils/header
    +header('آخر إصداراتنا')
    .container.mx-auto.mt-8
        .-mx-2
            .flex.flex-wrap.px-2
                - for(let i = 0; i < 4;i++){
                    .book.px-2.my-2(class="w-1/4")
                        a(href='book.html')
                            img(src="./img/book.png", alt="")
                        footer.p-2
                            span.text-white.text-lg.font-semibold الكاتب:
                            p.inline-block.text-center.text-white.text-lg.font-semibold عبيد القاسم بن سلام
                - }

    include ../utils/ourButton
    +btn('شاهد المزيد', 'mt-4')
    