mixin card(classes)
    a.book(href='book.html', class=classes)
        .img
            img(src="./img/book1.png", style="min-width: 100%", alt="")
        footer.p-2
            span.text-white.text-lg.font-semibold الكاتب:
            p.inline-block.text-center.text-white.text-lg.font-semibold عبيد القاسم بن سلام