mixin card(classes)
    .book(class=classes)
        a(href='book.html')
            img(src="./img/book.png", style="min-width: 100%", alt="")
        footer.p-2
            span.text-white.text-lg.font-semibold الكاتب:
            p.inline-block.text-center.text-white.text-lg.font-semibold عبيد القاسم بن سلام