div.mx-auto.mt-12
    ul.pagenation.flex.pl-0.list-none.rounded.my-2
        li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.border-l-0.ml-0.rounded-r(class='disabled')
            a.page-link(href='#') السابق
        li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.border-l-0(class='active')
            a.page-link(href='#') 1
        li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.border-l-0(class='')
            a.page-link(href='#') 2
        li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.border-l-0(class='')
            a.page-link(href='#') 3
        li.relative.block.py-2.px-3.leading-tight.bg-white.border.border-gray-300.text-blue-700.rounded-l(class='')
            a.page-link(href='#') التالي