mixin card(classes)
    a.news.border(href='article.html', class=classes, data-scroll='')
        .img.p-2
            img(src="../img/logo.jpg", style="min-width: 100%", alt="")
        footer.p-2.py-5
            .flex.justify-between
                h2.text-black.text-xl.font-bold عنوان مقال لذيذ
                p.text-gray-600.text-md 18/12/2016
            .w-full
                p.blue-text.inline-block.text-lg.font-semibold الكاتب:
                span.mx-2 أبو حميد
            